:root {
    --primary: #21538a;
    --secondary: #228bce;
}

body{
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
    font-family: arial, serif;
    font-size: 16px;
    background-color: #fff;
    width: 100%;
}

a{
    color: var(--primary);
}
a:hover{
    color: var(--secondary);
}

/* Navigation Menu and HomePage */

.logo-text-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-end;
    padding: 5vw;
    width: 90%;
}

.logo{
    float: left;
    width: 20vw;
    height: 20vw;
    margin-right: 20px;
}

.long-text{
    padding-left: 2vw;
    font-size: 16px;
    text-align: left;
}

.homepage-links{
    padding: 10px;
}

.link-item {
    padding: 20px;
}

.link-item:hover a{
    color: lightgray;
}

.link-item:hover{
    background-color: var(--primary);
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.nav-item{
    text-align: left;
}

.navbar-toggler{
    border-radius: 0;
    /*box-shadow: 0 2px 4px var(--primary);*/
}

.nav-button{
    min-width: 120px; /* adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--primary);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Add this line to animate the background color change */
}

.nav-button:hover{
    background-color: rgb(33, 83, 138, 0.2); /* Change the background color on hover */
    color: var(--primary);
}

.navbar{
    position:fixed;
    top:0;
    width: 100%;
    z-index: 99999999;
    /*box-shadow: 0 2px 4px var(--primary);*/
}

.pagefooter {
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: #444;
    color: white;
    text-align: center;
}
.copyrightfooter {
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 25px;
    width: 100%;
    text-align: center;
}

/* Maps and Visualizations */
.ddown {
    padding: 10px;
    max-width: 50vw;
    min-width: 200px;
    margin: 0 auto;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.ddown:focus {
    /*outline: none;*/
}

.ddown option {
    padding: 10px;
    background-color: #f2f2f2;
    color: #21538a;
}

.Select-control{
    text-align: left;
    box-shadow: 0 2px 4px rgb(0,0,0,0.5);
    border-radius: 0;
    cursor: pointer;
}

.source-data {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    position: relative;
    width: 100%;
    color: #444;
}

#graph-content{
    padding: 0;
}

.layer-toggle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.layer-toggle input {
    margin: 10px;
}

.ddmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

