:root {
    --primary: #21538a;
    --secondary: #228bce;
}

body{
    /*position: absolute;*/
    /*top: 40px;*/
    /*left: 0;*/
    text-align: center;
    font-family: arial, serif;
    font-size: 16px;
    background-color: #fff;
    width: 100%;
}

a{
    color: var(--primary);
}
a:hover{
    color: var(--secondary);
}

/* Navigation Menu and HomePage */

.logo-text-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-end;
    padding: 5vw;
    width: 90%;
}

.logo{
    float: left;
    width: 20vw;
    height: 20vw;
    margin-right: 20px;
}

.long-text{
    padding-left: 2vw;
    font-size: 16px;
    text-align: left;
}

.homepage-links{
    padding: 10px;
}

.pagefooter {
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: #444;
    color: white;
    text-align: center;
}
.copyrightfooter {
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 25px;
    width: 100%;
    text-align: center;
}

/* Maps and Visualizations */

.ddown{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.source-data {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    position: relative;
    width: 100%;
    color: #444;
}

#graph-content{
    padding: 0;
}

.my-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    overflow-x: scroll;
    box-shadow: 0 2px 4px var(--primary);
}
.my-navbar::-webkit-scrollbar { /* For Chrome, Safari and Opera */
    display: none;
}

.my-btn-primary{
    padding: 5px 10px;
    border: none;
    width: 15vw;
    min-width: 100px; /* adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    margin: 0 10px;
    box-shadow: 0 2px 4px var(--primary);
}
.my-btn-primary:hover{
    background-color: #1a3a5f;
}

.nav-link{
    color: var(--primary);
}

.navbar{
    position:fixed;
    top:0;
    width: 100%;
    z-index: 99999999;
}
